@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.a{
    color:white;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
}
.container{
    width: 80%;
}
.buy1{
    width: 100px;
    height: 35px;
    border:1px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(222, 216, 216);
    margin-left: 45%;
    padding-top: 4px;
}
.buy2{
    width: 100px;
    height: 35px;
    border:1px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(222, 216, 216);
    padding: 4px;
}
.box-menu{
    justify-content: center;
    display: flex;
    align-items: center;
}
.box1{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}
.box2{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    border: 1px solid;
    color: black;
}
a :hover{
    background-color: red;
    transition: 0.9s;
    border: none;
    
}
.sale{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 70%;
    color: white;
}
.heart{
    justify-content: center;
    display: flex;
    align-items: center;
    color: red;
    margin-left: 80%;
}

